* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 88, 112);
  width: 100%;
  place-items: center;
  display: grid;
  gap: 2rem;
  transition: all 1s;
}

.todo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-header,
footer {
  width: 40%;
  background-color: #fff;
}

.header {
  background-color: rgb(12, 38, 49);
  color: #fff;
}

.header,
form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(184, 183, 183);
}

h1 {
  font-size: 20px;
}

form,
input {
  width: 100%;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  font-style: italic;
}

i,
form {
  cursor: pointer;
}

.check-content,
.check-and-content {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(184, 183, 183);
}

.check-and-content {
  border-bottom: unset;
  padding-bottom: 10px;
}

footer {
  background-color: rgb(12, 38, 49);
  padding: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

input:not([type='radio']):not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.edit,
.delete {
  cursor: pointer;
}

.check-content.done .check-and-content input {
  text-decoration: line-through;
  color: red;
}

.delete {
  display: none;
}

.delete i {
  color: red;
}
